In [80]:
import os
import pandas as pd
import numpy as np

In [81]:
os.chdir('C:\\Users\\ABC\\6. Datasets')
df = pd.read_csv('tips.csv')
df

     Total_bill   Tip     Sex Smoker   Day    Time  Size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [82]:
df = df.reset_index()
df

     index  Total_bill   Tip     Sex Smoker   Day    Time  Size
0        0       16.99  1.01  Female     No   Sun  Dinner     2
1        1       10.34  1.66    Male     No   Sun  Dinner     3
2        2       21.01  3.50    Male     No   Sun  Dinner     3
3        3       23.68  3.31    Male     No   Sun  Dinner     2
4        4       24.59  3.61  Female     No   Sun  Dinner     4
..     ...         ...   ...     ...    ...   ...     ...   ...
239    239       29.03  5.92    Male     No   Sat  Dinner     3
240    240       27.18  2.00  Female    Yes   Sat  Dinner     2
241    241       22.67  2.00    Male    Yes   Sat  Dinner     2
242    242       17.82  1.75    Male     No   Sat  Dinner     2
243    243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [ ]:
"""dff = df[(df['Sex']=='Male') & (df['Day']=='Sun')]
dff
smoker = ['No']
e = dff['Smoker'].isin(smoker)
dff[e]"""

In [ ]:
"""dff = df[(df['Smoker']=='No') & (df['Sex']=='Female')]
Day = ['Sun', 'Mon', 'Fri']
e = dff['Day'].isin(Day)
dff[e].nunique()"""

In [ ]:
"""dff = df[(df['Sex']=='Male') | (df['Smoker']=='No')]
Day = ['Fri', 'Sat']
e = dff['Day'].isin(Day)
dff[e].nunique()"""

In [ ]:
"""dff = df[(df['Sex']=='Female') & (df['Smoker']=='No')]
day = ['Sun', 'Sat', 'Thur']
e = dff['Day'].isin(day)
dff[e].nunique()"""

In [ ]:
"""dff = df[(df['Sex']=='Female') & (df['Smoker']=='No')]
Day = ['Sun', 'Fri']
e = dff['Day'].isin(Day)
dff[e].nunique()"""

In [ ]:
"""filt = df[(df['Sex']=='Male') & (df['Smoker']=='No')]
Day = ['Sat', 'Sun']
filt3 = df['Day'].isin(Day)
filt[filt3]"""

In [ ]:
"""size = [2,3,4,5]
dff = df[df['Size'].isin(size)]
d4 = dff[(dff['Size']==4)]
listy = list(d4.index)
listy
e = dff[dff['index'].isin(listy)]
e"""

In [ ]:
"""size = [2,4,6,7]
dff = df[df['Size'].isin(size)]
d6 = dff[dff['Size']==2]
listy = list(d6['index'])
listy
e = dff[dff['index'].isin(listy)]
e"""

In [169]:
"""size = [2,3,4,5]
df[df['Size'].isin(size)]
d = df[df['Size']==4]
listy = list(d['index'])
e = df[df['Smoker']=='No']
e_filtered = e[e['index'].isin(listy)]
e_filtered"""

     index  Total_bill   Tip     Sex Smoker   Day    Time  Size
4        4       24.59  3.61  Female     No   Sun  Dinner     4
5        5       25.29  4.71    Male     No   Sun  Dinner     4
7        7       26.88  3.12    Male     No   Sun  Dinner     4
11      11       35.26  5.00  Female     No   Sun  Dinner     4
13      13       18.43  3.00    Male     No   Sun  Dinner     4
23      23       39.42  7.58    Male     No   Sat  Dinner     4
25      25       17.81  2.34    Male     No   Sat  Dinner     4
31      31       18.35  2.50    Male     No   Sat  Dinner     4
33      33       20.69  2.45  Female     No   Sat  Dinner     4
44      44       30.40  5.60    Male     No   Sun  Dinner     4
47      47       32.40  6.00    Male     No   Sun  Dinner     4
52      52       34.81  5.20  Female     No   Sun  Dinner     4
54      54       25.56  4.34    Male     No   Sun  Dinner     4
59      59       48.27  6.73    Male     No   Sat  Dinner     4
77      77       27.20  4.00    Male     No  Thur   Lunch     4
85      85       34.83  5.17  Female     No  Thur   Lunch     4
116    116       29.93  5.07    Male     No   Sun  Dinner     4
119    119       24.08  2.92  Female     No  Thur   Lunch     4
153    153       24.55  2.00    Male     No   Sun  Dinner     4
154    154       19.77  2.00    Male     No   Sun  Dinner     4
157    157       25.00  3.75  Female     No   Sun  Dinner     4
159    159       16.49  2.00    Male     No   Sun  Dinner     4
160    160       21.50  3.50    Male     No   Sun  Dinner     4
167    167       31.71  4.50    Male     No   Sun  Dinner     4
212    212       48.33  9.00    Male     No   Sat  Dinner     4
227    227       20.45  3.00    Male     No   Sat  Dinner     4

In [192]:
#Females with size 2 - used a listy index approach. 
size = [2,3,5,6]
dff = df[df['Size'].isin(size)]
d2 = dff[dff['Size']==2]
listy = list(d2['index'])
d3 = d2[d2['Sex']=='Female']
e = d3[d3['index'].isin(listy)]
e

"""WAY FASTER WAY 
#Females with size 2 - used a listy index approach. 

g = df.groupby(['Sex', 'Size'])
g.get_group(('Female', 2))"""

     index  Total_bill   Tip     Sex Smoker   Day    Time  Size
0        0       16.99  1.01  Female     No   Sun  Dinner     2
14      14       14.83  3.02  Female     No   Sun  Dinner     2
21      21       20.29  2.75  Female     No   Sat  Dinner     2
22      22       15.77  2.23  Female     No   Sat  Dinner     2
29      29       19.65  3.00  Female     No   Sat  Dinner     2
32      32       15.06  3.00  Female     No   Sat  Dinner     2
51      51       10.29  2.60  Female     No   Sun  Dinner     2
57      57       26.41  1.50  Female     No   Sat  Dinner     2
66      66       16.45  2.47  Female     No   Sat  Dinner     2
72      72       26.86  3.14  Female    Yes   Sat  Dinner     2
73      73       25.28  5.00  Female    Yes   Sat  Dinner     2
74      74       14.73  2.20  Female     No   Sat  Dinner     2
92      92        5.75  1.00  Female    Yes   Fri  Dinner     2
93      93       16.32  4.30  Female    Yes   Fri  Dinner     2
94      94       22.75  3.25  Female     No   Fri  Dinner     2
100    100       11.35  2.50  Female    Yes   Fri  Dinner     2
101    101       15.38  3.00  Female    Yes   Fri  Dinner     2
103    103       22.42  3.48  Female    Yes   Sat  Dinner     2
104    104       20.92  4.08  Female     No   Sat  Dinner     2
109    109       14.31  4.00  Female    Yes   Sat  Dinner     2
115    115       17.31  3.50  Female     No   Sun  Dinner     2
117    117       10.65  1.50  Female     No  Thur   Lunch     2
118    118       12.43  1.80  Female     No  Thur   Lunch     2
121    121       13.42  1.68  Female     No  Thur   Lunch     2
124    124       12.48  2.52  Female     No  Thur   Lunch     2
127    127       14.52  2.00  Female     No  Thur   Lunch     2
128    128       11.38  2.00  Female     No  Thur   Lunch     2
131    131       20.27  2.83  Female     No  Thur   Lunch     2
132    132       11.17  1.50  Female     No  Thur   Lunch     2
133    133       12.26  2.00  Female     No  Thur   Lunch     2
134    134       18.26  3.25  Female     No  Thur   Lunch     2
135    135        8.51  1.25  Female     No  Thur   Lunch     2
136    136       10.33  2.00  Female     No  Thur   Lunch     2
137    137       14.15  2.00  Female     No  Thur   Lunch     2
139    139       13.16  2.75  Female     No  Thur   Lunch     2
140    140       17.47  3.50  Female     No  Thur   Lunch     2
144    144       16.43  2.30  Female     No  Thur   Lunch     2
145    145        8.35  1.50  Female     No  Thur   Lunch     2
147    147       11.87  1.63  Female     No  Thur   Lunch     2
158    158       13.39  2.61  Female     No   Sun  Dinner     2
164    164       17.51  3.00  Female    Yes   Sun  Dinner     2
168    168       10.59  1.61  Female    Yes   Sat  Dinner     2
169    169       10.63  2.00  Female    Yes   Sat  Dinner     2
178    178        9.60  4.00  Female    Yes   Sun  Dinner     2
191    191       19.81  4.19  Female    Yes  Thur   Lunch     2
198    198       13.00  2.00  Female    Yes  Thur   Lunch     2
201    201       12.74  2.01  Female    Yes  Thur   Lunch     2
202    202       13.00  2.00  Female    Yes  Thur   Lunch     2
203    203       16.40  2.50  Female    Yes  Thur   Lunch     2
209    209       12.76  2.23  Female    Yes   Sat  Dinner     2
213    213       13.27  2.50  Female    Yes   Sat  Dinner     2
215    215       12.90  1.10  Female    Yes   Sat  Dinner     2
221    221       13.42  3.48  Female    Yes   Fri   Lunch     2
225    225       16.27  2.50  Female    Yes   Fri   Lunch     2
226    226       10.09  2.00  Female    Yes   Fri   Lunch     2
229    229       22.12  2.88  Female    Yes   Sat  Dinner     2
240    240       27.18  2.00  Female    Yes   Sat  Dinner     2
243    243       18.78  3.00  Female     No  Thur  Dinner     2

In [219]:
#Females with size 2 - used a listy index approach. 

a = df.groupby(['Sex', 'Size'])['Size'].sum().unstack()
a

Size    1    2   3    4   5   6
Sex
Female  3  116  42   36   5  12
Male    1  196  72  112  20  12

In [ ]:
c = list(df['Tip'] )

In [ ]:
a = df.groupby(['Sex', 'Smoker'])
a.get_group(('Female', 'No')).nunique()